---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>👹 Hello, I'm Myles!</h1>
			<p>
				I'm a coder but I'm also a traveler, aspiring gardener 🌱, and a professional ice cream eater.
			</p>
			<p>
				Follow me on this blog as I attempt to write about my journey at becoming a master frontend engineer. Spoiler alert! That's basically impossible, but it's still fun trying right?! I also plan on writing about gardening and some other things!
			</p>
		</main>
		<Footer />
	</body>
</html>
